
        .body {
            font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size: 16pt;
            text-align: center;
        }
        .wrap {
            border: solid 1px black;
            width:1000px;

            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
       }

        .panel {
            width : 900px;
        }

       .row {
           /* border: solid 1px wheat; */
           display: flex;
       }

       .col {
           border: solid 1px wheat;
           margin: 10px;
           padding: 10px;
        }

        .flex1 { flex:100; }
        .flex2 { flex:200; }
        .flex3 { flex:300; }
        .flex4 { flex:400; }
        .flex5 { flex:500; }
        .flex6 { flex:600; }
        .flex8 { flex:800; }
        .flex10 { flex:1000; }
        .flex20px { flex: 1 20px; }

        .tableTitle{
            display:none;
            padding:3px;
            margin:3px;
            border:1px solid lightgrey;

        }


        .tableRow { display: flex; }
        .tableHeader {
            padding:3px;
            margin:3px;
            /* background-color: lightgrey; */
            text-align: center;
         }
        .tableInput {
            font-size: 16pt;

            padding:3px;
            margin:3px;
            width:50px;
            border:1px solid lightgrey;
            background-color: lightgreen;
        }
        .tableButton {
            padding:3px;
            margin:3px;
            background-color: wheat;
        }
        .tableButtons {
            background-color: lightblue;
        }

        /* graph -------------------------- */

        .graph {
            padding:3px;
            margin:3px;
            border:1px solid lightgrey;

            width:300px;
            height:300px;
        }
